<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="assignments" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/assignments.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="9" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <logger name="org.wanbot.assignments">
        <level value="DEBUG" />
        <appender-ref ref="assignments" />
    </logger>

</log4j:configuration>